---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <section class="h-screen bg-black flex flex-col items-center justify-center text-white gap-6 animate-fade">

    <!-- LOGO / MARCA -->
  <h1 class="text-6xl md:text-8xl font-bold tracking-widest hover:tracking-[0.2em] transition-all duration-500">
  NEO.NAUTZ
</h1>

    <!-- SUBTEXTO -->
    <p class="text-sm tracking-[0.3em] text-gray-400">
      EXCLUSIVE DROPS
    </p>

    <!-- BOTÓN -->
    <button class="border border-white px-6 py-3 text-sm tracking-widest transition-all duration-300 hover:bg-white hover:text-black hover:scale-105">
  ENTER STORE
</button>

  </section>
</Layout>